@font-face{
	font-family: "adobe-garamond-pro-italic";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/adobe-garamond-pro-italic.eot?#iefix") format("embedded-opentype"), url("fonts/adobe-garamond-pro-italic.woff") format("woff"), url("fonts/adobe-garamond-pro-italic.ttf") format("truetype"), url("fonts/adobe-garamond-pro-italic.svg#Garamond-Italic") format("svg");
}

*{
	margin: 0px;
	box-sizing: border-box;
}

html{
	height: 100%;
	color: #404040;
	font-family: 'Raleway';
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
}

body{
	height: 100%;
}

h1{
	padding: 16px;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 700;
}

h2{
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 700;
}

b{
	font-weight: 700;
}

i{
	font-family: "adobe-garamond-pro-italic";
	font-style: normal;
}

a{
	cursor: pointer;
	color: inherit;
}

img{
	display: block;
}

.t-center{
	text-align: center;
}

.h-center{
	margin: 0px auto;
}

header{
	background-color: #FFFFFF;
	background-image: url("img/header/logotype.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 50;
	transition: height 0.4s ease 0.0s;
}

header>.back{
	cursor: pointer;
	display: block;
	width: 64x;
	height: 64px;
	position: fixed;
	left: -64px;
	top: 0px;
	transition: left 0.4s ease 0s;
}

header>.action{
	cursor: pointer;
	display: block;
	width: 64x;
	height: 64px;
	position: fixed;
	right: -64px;
	top: 0px;
	transition: right 0.4s ease 0s;
}

.page{
	display: block;
	background-color: #f6f6f6;
	width: 100%;
	height: calc(100% - 64px);
	position: fixed;
	left: 100%;
	top: 64px;
	overflow: auto;
	transition: opacity 0.4s ease 0.0s, left 0.4s ease 0.0s;
}

.page.index{
	opacity: 0.0;
	left: 0%;
}

.page.index>*{
	display: block;
	width: 100%;
	height: 16.67%;
	float: left;
}

.page.index p{
	font-size: 32px;
	font-weight: bold;
}

.page.program>h1{
	margin: 0px;
}

.page.program>.day{
	margin: 8px 16px;
	color: #404040;
	font-size: 12px;
	font-weight: 700;
}

.page.program>.item{
	cursor: pointer;
	display: block;
	padding: 8px 16px;
	background-color: #FFFFFF;
	border-color: #F6F6F6;
	border-style: solid;
	border-width: 1px 0px;
	color: #404040;
}

.page.program>.item>.title{
	font-weight: 700;
}

.page.program>.item>.organizer{
	font-family: "adobe-garamond-pro-italic";
}

.page.favorites>h1{
	margin: 0px;
}

.page.favorites>.day{
	margin: 8px 16px;
	color: #404040;
	font-size: 12px;
	font-weight: 700;
}

.page.favorites>.item{
	cursor: pointer;
	display: block;
	padding: 8px 16px;
	background-color: #FFFFFF;
	border-color: #F6F6F6;
	border-style: solid;
	border-width: 1px 0px;
	color: #404040;
}

.page.favorites>.item>.title{
	font-weight: 700;
}

.page.favorites>.item>.organizer{
	font-family: "adobe-garamond-pro-italic";
}

.page.activity>div{
	padding: 8px 16px;
	background-color: #FFFFFF;
}

.page.activity>div>*{
	margin-top: 8px;
	margin-bottom: 8px;
}

.page.activity>div>img{
	width: 100%;
}

.page.instagram>.loading{
	display: block;
	margin: 16px 32px;
	padding: 16px 0px;
	background-color: #ffffff;
	border-radius: 8px;
	color: #515151;
	text-align: center;
}

.page.instagram>.item{
	cursor: pointer;
	display: block;
	width: 33.32%;
	overflow: hidden;
	position: relative;
	float: left;
}

.page.instagram>.item>.filler{
	display: block;
	width: 100%;
}

.page.instagram>.item>.image{
	display: block;
	opacity: 0.0;
	position: absolute;
	left: 0px;
	top: 0px;
	transform: scale(0.0);
	transition: opacity 0.4s ease 0.0s, transform 0.4s ease 0.0s;
}

.page.map>div{
	padding: 8px 16px;
	background-color: #FFFFFF;
}

.page.map>div>*{
	margin-top: 8px;
	margin-bottom: 8px;
}

.page.map>div>img{
	width: 100%;
}

.page.information>div{
	padding: 8px 16px;
	background-color: #FFFFFF;
}

.page.information>div>*{
	margin-top: 8px;
	margin-bottom: 8px;
}

.page.information>div>img{
	width: 100%;
}

.page.partners>h2{
	padding: 16px;
	background-color: #FFFFFF;
}

.page.partners .partners{
	padding: 12px;
}

.page.partners .partners::after{
	clear: both;
	display: block;
	content: '.';
	font-size: 0px;
}

.page.partners .partners>a{
	display: block;
	margin: 4px 4px;
	width: calc(50% - 8px);
	float: left;
}

.page.partners .partners>a>img{
	width: 100%;
}

.overlay{
	background-color: rgba(0, 0, 0, 0.0);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 99;
	transition: background-color 0.4s ease 0.0s;
}

.overlay .image{
	padding: 8px;
	background-color: #ffffff;
	border-radius: 8px;
	width: calc(100% - 64px);
	position: absolute;
	left: 32px;
	top: 32px;
	transform: scale(0.0);
	transition: transform 0.4s ease 0.0s;
}

.overlay .image>img{
	width: 100%;
}

.overlay .image>p{
	margin-top: 8px;
}

.overlay .image>p>a{
	color: #2973ba;
	text-decoration: none;
}

.bg-red{
	background-color: #EE312C;
	color: #ffffff;
}

.bg-orange{
	background-color: #F7942D;
	color: #ffffff;
}

.bg-yellow{
	background-color: #EEEA2A;
	color: #ffffff;
}

.bg-green{
	background-color: #14a74c;
	color: #ffffff;
}

.bg-blue{
	background-color: #2973ba;
	color: #ffffff;
}

.bg-purple{
	background-color: #6d3c97;
	color: #ffffff;
}

@media screen and (min-aspect-ratio: 1/1) {
	.page.index>*{
		width: 50%;
		height: 33.32%;
	}

	.page.instagram>.item{
		width: 20%;
	}

	.overlay .image{
		width: 40%;
		left: 30%;
	}
}